@import '../../sass/styles.scss';

.menuCtnr{
	margin-top: 6em;

	ul {
		row-gap: 5em;
		column-gap: 1em;
	}

	.imgCtnr {
		width: 10rem;
		height: 10rem;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100%;
			vertical-align:middle;
		}
	}
}

.menuNav {
	position: fixed !important;
	top: 60%;
	a {
		color: $dark-grey;
		&:hover{
			color: $dark-grey;
		}
	}
}

.menuNav.rightNav {right: 0;}
.menuNav.leftNav {left: 7em;}

.addLink {
	text-decoration: none;
	color: $dark-grey;
	font-size: 1.2em;
	
	&:hover {
		color: $dark-grey;
	}

	i {
		font-size: 1.5em;
	}
}